@model Vulnaware.Models.Product
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page-wrapper">
    <br />
    <h2>Product @Html.DisplayFor(Model => Model.Concatenated)</h2>
    <br />
    <div class="row">
        <!-- Product details panel -->
        <div class="col-lg-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    Product Details
                </div>
                <div class="panel-body">
                    <b>@Html.DisplayNameFor(Model => Model.Vendor):</b>
                    @Html.DisplayFor(Model => Model.Vendor)
                    <br />
                    <b>@Html.DisplayNameFor(Model => Model.ProductName):</b>
                    @Html.DisplayFor(Model => Model.ProductName)
                    <br />
                    <b>@Html.DisplayNameFor(Model => Model.Version):</b>
                    @Html.DisplayFor(Model => Model.Version)
                    <br />
                    <b>@Html.DisplayNameFor(Model => Model.ProductUpdate):</b>
                    @Html.DisplayFor(Model => Model.ProductUpdate)
                    <br />
                    <b>@Html.DisplayNameFor(Model => Model.Edition):</b>
                    @Html.DisplayFor(Model => Model.Edition)
                    <br />
                    <b>@Html.DisplayNameFor(Model => Model.ProductLanguage):</b>
                    @Html.DisplayFor(Model => Model.ProductLanguage)
                    <br />
                    <b>@Html.DisplayNameFor(Model => Model.Added):</b>
                    @Html.DisplayFor(Model => Model.Added)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Related vulnerabilities datatable -->
            <div class="panel panel-green">
                <div class="panel-heading">
                    Related Vulnerabilities
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" style="width:100%;" id="dataTablesVulnerabilities">
                        <thead>
                            <tr>
                                <th>Cve ID</th>
                                <th>Base Score</th>
                                <th>Published Date</th>
                                <th>Access Complexity</th>
                                <th>Access Vector</th>
                                <th>Authentication</th>
                                <th>Availability Impact</th>
                                <th>Confidentiality Impact</th>
                                <th>Integrity Impact</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cveConfigurationItem in Model.CveConfigurations)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => cveConfigurationItem.Cve.GivenID)</td>
                                    <td>
                                        @if (cveConfigurationItem.Cve.BaseScore <= 3)
                                        {
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width:25%">
                                                    @Html.DisplayFor(modelItem => cveConfigurationItem.Cve.BaseScore)
                                                </div>
                                            </div>
                                        }
                                        @if (cveConfigurationItem.Cve.BaseScore > 3
                                         && cveConfigurationItem.Cve.BaseScore <= 6)
                                        {
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width:50%">
                                                    @Html.DisplayFor(modelItem => cveConfigurationItem.Cve.BaseScore)
                                                </div>
                                            </div>
                                        }
                                        @if (cveConfigurationItem.Cve.BaseScore > 6
                                         && cveConfigurationItem.Cve.BaseScore <= 9)
                                        {
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width:75%">
                                                    @Html.DisplayFor(modelItem => cveConfigurationItem.Cve.BaseScore)
                                                </div>
                                            </div>

                                        }
                                        @if (cveConfigurationItem.Cve.BaseScore > 9)
                                        {
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:100%">
                                                    @Html.DisplayFor(modelItem => cveConfigurationItem.Cve.BaseScore)
                                                </div>
                                            </div>

                                        }
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => cveConfigurationItem.Cve.PublishedDate)</td>
                                    <td>@Html.DisplayFor(modelItem => cveConfigurationItem.Cve.AccessComplexity)</td>
                                    <td>@Html.DisplayFor(modelItem => cveConfigurationItem.Cve.AccessVector)</td>
                                    <td>@Html.DisplayFor(modelItem => cveConfigurationItem.Cve.Authentication)</td>
                                    <td>@Html.DisplayFor(modelItem => cveConfigurationItem.Cve.AvailabilityImpact)</td>
                                    <td>@Html.DisplayFor(modelItem => cveConfigurationItem.Cve.ConfidentialityImpact)</td>
                                    <td>@Html.DisplayFor(modelItem => cveConfigurationItem.Cve.IntegrityImpact)</td>
                                    <td><a class="btn btn-info" href="/Vulnerability/Details/@cveConfigurationItem.CveID">Details</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @section scripts {
        <script>
            $(document).ready(function () {
                $("#dataTablesVulnerabilities").DataTable({
                    scrollX: true,
                });
            });
        </script>
    }
</div>

